* {
  margin: 0;
}

body {
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: 'Avenir';
  /* font-size: 14px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  margin-top: 40px;
}

.feed-container {
  left: 220px;
  position: relative;
  width: 80%;
  font-family: 'Avenir';
  overflow: scroll;
  max-height: 500px;
}

.userDashboard {
  left: 220px;
  position: relative;
  width: 80%;
  font-family: 'Avenir';
  overflow: scroll;
  max-height: 500px;
}

.App {
  text-align: center;
}

.title:hover{
  color: #f54040;
  cursor: pointer;
}

.box {
  font-family: 'Avenir';
  margin: 20px;
  text-align: left;
  margin-left: 250px;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.postBox {
  height: 220px; 
  width: 500px; 
  padding: 30px;
  margin: 30px;
  border-radius: 10px;
  border: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.postBoxTop {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.postBoxLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin-left: 10px;
}

.postBoxRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.postBoxBottom {
  padding-top: 10px;
}

textarea {
  height: 40px; 
  width: 400px; 
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ebebeb;
  transition: box-shadow .1s;
  margin: 10px;
}

textarea:focus {
  outline: none;
}

.submit-button {
  background-color: #f54040;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  margin: 10px;
}
.submit-button:focus {
  outline: none;
}

.splash-container{
  position: relative;
  top: 200px;
}

.arrows{
  cursor: pointer;
}