.sidenav {
  font-family: 'Avenir';
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 87px;
  left: 0px;
  background-color: #f9f9f9;
  /* background: linear-gradient(to right, #2c3e50, #bdc3c7);  */
  /* overflow-x: hidden; */
  padding-top: 20px;
}

.sidenav a {
  padding: 10px 10px 10px 20px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #f54040;
  display: block;
  font-weight: 700;
}

.sidenav a:hover {
  color: #000;
}

.main {
  margin-left: 160px;
  /* Same as the width of the sidenav */
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
